body {
    background-image: url('../img/stardust.png');
 }

a:link {
  color: #02E8DB;
  float: right;
  list-style: none;
  margin: 30px auto;
  text-decoration: none;
  display: inline-block;
}

li {
  display: inline-block;
  float: right;
  padding: .5em .5em;
}

a {
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  /*text-transform: lowercase;*/
}

a:visted {
  color: #0BCCFF;
}

a:hover {
  color: #048EB2;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2.6em;
  margin-left: 50px;
  margin-top: 30px;
  text-weight: 700;
  margin: 50px;
  -webkit-animation: namefade 5s infinite;
}

h2 {
  color: #048EB2;
  font-family: 'Droid Serif', serif;
  font-size: 2.3em;
  margin: 50px ;
}

h3 {
  color: #048EB2;
  font-family: 'Droid Serif', serif;
  font-size: 1.6em;
  margin: 50px;
}

p {
  color: #048EB2;
  font-size: 1.4em;
  margin: 50px;
}

@-webkit-keyframes namefade {
  0% { 
    color: #02E8DB;
  }
  25% {
    color: #02CEC3;
  }
  
  50% {
    color: #01A89F;
  }
  75% {
    color: #016863;
  }
  
  100% { 
    color: #02CEC3;
  }
}

.header {
  width: 80%;
}

.me {
  background: url('../img/magic.jpg');
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
}

img {
  width: 300px;
  height: 400px;
  padding: 10px;
  margin-left: 50px;
  display: inline-block;
}

div span img {
  width: 600px;
  height: 400px;
  padding: 10px;
  margin-left: 50px;
}

@media screen and (max-width: 700px) {
  body {
    background-image: url('../img/foggy_birds.png');
  }
}