body {
    background-image: url('../img/stardust.png');
 }
a:link {
  color: #02E8DB;
  float: right;
  list-style: none;
  margin: 30px auto;
  text-decoration: none;
  display: inline-block;
}
li {
  display: inline-block;
  float: right;
  padding: .5em .5em;
}
a {
  font-family: 'Droid Serif', serif;
  /*text-transform: lowercase;*/
}
a:visted {
  color: #0BCCFF;
}
a:hover {
  color: #048EB2;
}
h1 {
  font-family: 'Cinzel', serif;
  font-size: 2.6em;
  margin-left: 50px;
  margin-top: 30px;
  text-weight: 700;
  -webkit-animation: namefade 5s infinite;
}
p {
  color: #048EB2;
  text-align: center;
  font-size: 1.4em;
  margin: 100px;
}
@-webkit-keyframes namefade {
  0% { 
    color: #02E8DB;
  }
  25% {
    color: #02CEC3;
  }
  
  50% {
    color: #01A89F;
  }
  75% {
    color: #016863;
  }
  
  100% { 
    color: #02CEC3;
  }
}

.header {
  width: 80%;
}
.me {
  background: url('../img/magic.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
img {
  background-size: 100;
}
div[class*="Narnia"] {
  width: 400px;
  height: 3oopx;
}