body {
    background-image: url('../img/stardust.png');
 }

/*a:link {
  color: #02E8DB;
  float: right;
  list-style: none;
  margin: 30px auto;
  text-decoration: none;
  display: inline-block;
}*/

li {
  display: inline-block;
  float: right;
  padding: .5em .5em;
}

/*a {
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  /*text-transform: lowercase;
}*/

/*a:visted {
  color: #0BCCFF;
}

a:hover {
  color: #048EB2;
}
ul li {
  color: #048EB2;
  float: left;
  font-size: 1em;
  font-family: 'Droid Serif', serif;
  display: inline-block;

}*/
ul li ul {
  color: #048EB2;
  display: inline-block;
  float: left;
  font-size: 1em;
  font-family: 'Droid Serif', serif;
}
ol li {
  color: #048EB2;
  display: inline-block;
  float: left;
  font-size: 1em;
  font-family: 'Droid Serif', serif;
}

.descrip {
  color: #048EB2;
  display: inline-block;
  float: left;
  font-size: 1em;
  font-family: 'Droid Serif', serif;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2.6em;
  margin-left: 50px;
  margin-top: 30px;
  text-weight: 700;
  margin: 50px;
  -webkit-animation: namefade 5s infinite;
}

h2 {
  color: #048EB2;
  font-family: 'Droid Serif', serif;
  font-size: 2.3em;
  margin: 50px ;
}

h3 {
  color: #048EB2;
  font-family: 'Droid Serif', serif;
  font-size: 1.6em;
  margin: 50px;
}

p {
  color: #048EB2;
  font-size: 1.4em;
  margin: 50px;
}

@-webkit-keyframes namefade {
  0% { 
    color: #02E8DB;
  }
  25% {
    color: #02CEC3;
  }
  
  50% {
    color: #01A89F;
  }
  75% {
    color: #016863;
  }
  
  100% { 
    color: #02CEC3;
  }
}

.header {
  width: 70%;
  float: left;
}

.main {
  width: 50%;
  float: right;
}

.form,
.haha,
.blurb,
.wat,
.personal,
.school,
.hello,
.resume {
  width: 70%;
}

img {
  width: 250px;
  height: 350px;
  padding: 10px;
  margin-left: 50px;
  display: inline-block;
}

div span img {
  width: 550px;
  height: 350px;
  padding: 10px;
  margin-left: 50px;
}
.meeee {
  width: 300px;
  height: 350px;
}
.rawr {
  width: 300px;
  height: 300px;
}
.second {
  text-align: center;
}
ul{
        padding: 0;
        list-style: none;
    }
    ul li{
        width: 100px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 15px;
    }
    ul li a{
        display: block;
        padding: 5px 3px;
        color: #048EB2;
        background: #02E8DB;
        text-decoration: none;
    }
    ul li a:hover{
        color: #02E8DB;
        background: #048EB2;
    }
    ul li ul{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul{
        display: block; /* display the dropdown */
    }

@media screen and (max-width: 900px) {
  img {
    width: 250px;
    height: 350px;
    padding: 10px;
    margin-left: 30px;
  }
  div span img {
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-left: 30px;
  }
  p {
    display: inline;
    margin: 75px;
    padding: 35px;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-image: url('../img/foggy_birds.png');
  }
  img {
    width: 150px;
    height: 250px;
    padding: 7px;
    margin-left: 15px;
  }
  div span img {
    width: 300px;
    height: 200px;
    padding: 8px;
    margin-left: 15px;
  }
  p {
    display: inline;
    margin: 75px;
    padding: 30px;
  }
}